.search{
  min-height: 200vh;
  background-color: #091b2a;
}




.search-movies {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  min-height: 200vh;
  background-color: #091b2a;

}

.search-input {
  width: 50%;
  
  margin-right: 10px;
  margin-top: 200px;
}

.search-button {
  margin-left: 10px;
}

.movies-list {
  margin-top: 20px;
  max-width: 300px;
}

.result {
  margin-top: 30px;
}
